{% extends "pop-template.html" %}

{% block content %}

<form method="post" action="/login">
    <div class="form-group">
        <label for="inputUsername">Brugernavn</label>
        <input type="text" class="form-control" id="inputUsername" placeholder="Brugernavn" name="username" required>
    </div>

    <div class="form-group">
        <label for="inputPassword">Kodeord</label>
        <input type="password" class="form-control" id="inputPassword" placeholder="Kodeord" name="password" required>
    </div>

    <div class="checkbox">
        <label>
            <input type="checkbox" name="accept_tos"> Jeg accepterer vilkår for brug af systemet som beskrevet neden for.
        </label>
    </div>

    <button type="submit" class="btn btn-default">Log ind</button>
</form>

<p style="margin: 20px 0 20px">Please note: If you only speak English get someone who speaks danish to help you translate the terms and conditions. They are only available in danish.</p>

<h2>Vilkår for brug</h2>

<p>Sidst ændret: 13. juni 2021</p>

<p><b>§ 1.</b> Dette netværk må kun aktiveres af brugere som ...</p>
<p style="margin-left: 40px">
    <i>Stk. 2.</i> ... er beboer på P. O. Pedersen Kollegiet<br>
    <b style="margin-left: 40px">OG</b><br>
    <i>Stk. 3.</i> ... har underskrevet K-Net brugererklæring<br>
    <b style="margin-left: 40px">OG</b><br>
    <i>Stk. 4.</i> ... har et K-Net login
</p>

<p><b>§ 2.</b> Brugere må kun benytte eget login til at aktivere systemet.</p>

<p><b>§ 3.</b> Korrekt login åbner for adgang til internettet.</p>
<p style="margin-left: 40px">
    <i>Stk. 2.</i> Adgangen er åben i op til 25 timer.<br>
    <i>Stk. 3.</i> Brugeren indgår i fælles ansvar for alt trafik til dette LAN jf. K-Net brugererklæring og dansk lovgivning som fx BEK nr 988 af 28/09/2006: Logningsbekendtgørelsen.<br>
    <i>Stk. 4.</i> Ansvaret gælder for alle enheder som tilgår netværket via denne port indtil nettet er lukket igen.<br>
    <i>Stk. 5.</i> Der gemmes en log over hvem der har logget ind på hvilke netværk. Denne log gemmes i lidt over 1 år, ca 370 dage.
</p>

<p><b>§ 4.</b> Det er brugerens ansvar at sikre internetforbindelsen lukker igen efter de 8 timer.</p>
<p style="margin-left: 40px">
    <i>Stk. 2.</i> Hvis ikke brugeren har sikret netværket er lukket efter de 8 timer og der sker misbrug på en forbindelse som viser sig ikke at have været lukket kan brugeren stadig stilles til ansvar. Se <i>§ 3, stk. 3 – 4</i>.<br>
    <i>Stk. 3.</i> Kontakt netgrp@pop.dk ved problemer med at nettet ikke lukker.
</p>

<h2>Vær særligt opmærksom på</h2>

<p>Såfremt du kun har brug for internet anbefales det at du benytter K-Net WiFi istedet. Dette system er tiltænkt som en løsning på at have Chromecast eller andet som kræver kablet netværk på køkkener og et par andre fælles netstik på kollegiet. Med K-Net WiFi kan du være på uden afbrydelser da login ikke udløber på WiFi som det gør med dette system.</p>

<p>K-Net brugererklæring gælder også ved brug af POP Captive Portal netværket.</p>

<p>Det er ikke muligt at åbne porte (TCP/UDP) i firewall på captive portal netværk. Benyt netværk på eget værelse/i egen lejlighed for dette.</p>

<p>Du kan logge ud før tid ved at besøge denne side efter du er logget ind. Systemet vil logge dig ud automatisk hvis systemet ikke længere kan se dine enheder (vi tjekker for svar på ARP anmodninger). Dette tager typisk et par minutter. Det er bedst at logge ud manuelt for at være på den sikre side.</p>

<p>At alle fysiske netværksporte som er forbundet til samme netværksport inkluderer fx alle andre enheder på en wifi router, inklusiv alle der måtte logge ind med en evt kendt fælles wifi kode til fx et køkken wifi. Det betyder at brugeren som logger ind kan stilles til ansvar for misbrug de ikke selv har lavet hvis de lader andre ind på samme netværk eller logger ind imens andre enheder er på samme netværk.</p>

<p>Det er ikke muligt at se hvem der er logget ind. Bemærk i øvrigt at denne side lader dig logge ind igen i selv om at nogen (måske dig) allerede er logget ind. Det er planlagt fremtidig funktionalitet at gøre det lidt mere nice. Den måde du kan se om nogen er logget ind er om der er adgang til internettet. Fx ved at besøge kollegiets hjemmeside <a href="http://pop.dk/" target="_blank">pop.dk</a>.</p>

<p>Ved misbrug som fx kreditkortsvindel vil netgruppen kunne sige hvilket netværk misbrug er sket på og hvem der er ansvarlig ud fra hvem der er logget ind. Det er brugeren som er logget ind der har ansvaret uanset om den enhed der er på netværket hvor brugeren er logget ind ejes af denne bruger.</p>

<p>Ved misbrug målrettet imod P. O. Pedersen Kollegiets eller K-Net's systemer henvises der til husordenen's kapitel om Netværk. Vær opmærksom på at det i yderste konsekvens kan betyde at al adgang til Kollegiets netværk bliver afbrudt. Dvs kablet netværk på eget værelse, adgang til fælles wifi, adgang til captive portal netværk, booking system med mere. Eksempler på misbrug er at forsøge og/eller gennemføre at...</p>
<p style="margin-left: 40px">
    ... logge ind med en bruger som ikke er din egen.<br>
    ... finde ud af koden på et login hvor du ikke kender koden.<br>
    ... omgå systemet ved eksempelvis at få adgang til internettet uden login.<br>
    ... spoofing af enhver art.
</p>

<p>Systemet bliver leveret som det er med de fejl og mangler der måtte være.</p>

<p>Såfremt der er kritiske fejl er der særligt vigtigt du kontakter netgrp@pop.dk hurtigst muligt.</p>

<p>Generelt ydes der ikke support på systemet. netgrp@pop.dk kan kontaktes men der gives ingen garanti på svartid.</p>

<p>Køkkener har et stk, det er stik nr 2 fra loftet. Multirum og Falladen har to stik som kører på samme login. Dvs login på enhver af disse porte giver ansvar for begge. Adgang til captive portal via Falladen og Multirummet er på todo listen.</p>


{% endblock %}
